https://github.com/wazo-platform/wazo-lib-rest-client/archive/master.zip
https://github.com/wazo-platform/wazo-auth-client/archive/master.zip
https://github.com/wazo-platform/xivo-lib-python/archive/master.zip
https://github.com/wazo-platform/wazo-bus/archive/master.zip
alembic==1.8.1
celery==5.2.6
cheroot==9.0.0
cryptography==38.0.4  # from google-auth, improves performance of google-auth RSA algorithm
flask-cors==3.0.10
flask-restful==0.3.9
flask==2.2.2
google-auth==1.5.1
httpx==0.23.3
h2==4.1.0  # required for http2 in httpx
itsdangerous==2.1.2  # from flask
jinja2==3.1.2  # from flask
jsonpatch==1.32
kombu==5.2.4  # from wazo-bus
markupsafe==2.1.2 # from jinja2
marshmallow==3.18.0
netifaces==0.11.0  # from xivo-lib-python
psycopg2-binary==2.9.5
pyfcm==1.4.7
python-consul==1.1.0
pyyaml==6.0
requests==2.28.1
setproctitle==1.3.1 # need to be specified explicitly to be used
sqlalchemy==1.4.46
sqlalchemy_utils==0.38.2
stevedore==4.0.2
urllib3==1.26.12
werkzeug==2.2.2
