docker-compose
kombu
nose
openapi-spec-validator
psycopg2
pyhamcrest
requests
sqlalchemy
sqlalchemy_utils
stevedore
https://github.com/wazo-pbx/wazo-webhookd-client/archive/master.zip
https://github.com/wazo-pbx/xivo-test-helpers/archive/master.zip
https://github.com/wazo-pbx/xivo-lib-python/archive/master.zip
https://github.com/wazo-pbx/xivo-lib-rest-client/archive/master.zip
https://github.com/wazo-pbx/mockserver-client-python/archive/default-exact.zip
