docker-compose
kombu
openapi-spec-validator
psycopg2-binary
pyhamcrest
pytest
requests
sqlalchemy==1.2.18
sqlalchemy_utils==0.32.21
stevedore
https://github.com/wazo-platform/wazo-lib-rest-client/archive/master.zip
https://github.com/wazo-platform/wazo-webhookd-client/archive/master.zip
https://github.com/wazo-platform/xivo-test-helpers/archive/master.zip
https://github.com/wazo-platform/xivo-lib-python/archive/master.zip
https://github.com/wazo-platform/mockserver-client-python/archive/5.6.X.zip
