Source: wazo-webhookd
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev+pkg@wazo.community>
Build-Depends: debhelper (>= 9), dh-python, dh-systemd (>= 1.5), python3-all, python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.4

Package: wazo-webhookd
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
 adduser,
 alembic (>= 0.8.8),
 python3-alembic (>= 0.8.8),
 python3-celery,
 python3-cheroot,
 python3-consul,
 python3-flask,
 python3-flask-cors,
 python3-flask-restful,
 python3-httpx,
 python3-kombu,
 python3-marshmallow,
 python3-psycopg2,
 python3-pyfcm,
 python3-setproctitle,
 python3-sqlalchemy,
 python3-sqlalchemy-utils,
 python3-stevedore,
 python3-yaml,
 wazo-auth-client-python3,
 xivo-dbms (>= 19.07~20190429.122922.25c3757.deb9),
 xivo-lib-python-python3
Description: Wazo webhookd server
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
