[Unit]
Description=wazo-webhookd server
After=network.target
Before=monit.service

[Service]
Environment=PYTHONUNBUFFERED=TRUE
ExecStartPre=/usr/bin/install -d -o wazo-webhookd -g wazo-webhookd /run/wazo-webhookd
ExecStart=/usr/bin/wazo-webhookd

[Install]
WantedBy=multi-user.target
